# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
FINAL_BUILD_SUMMARY.md

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

#MAC fucking Trash
.DS_Store